.searchBar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchinput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  max-width: 400px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
